<form method="post" action="/bank/registration">
  <ul id='registrationInit'>
    <h1 id='header'>Форма регистрации</h1>
    <div>
      <div class='list'>
        <li class='list'>
          <div><label>Имя:</label></div>
          <div><input class='checkFills' name="firstName" placeholder="Обязательно" type="text" value={{pass}}></div>
        </li>
        <li class='list'>
          <div><label>Фамилия:</label></div>
          <div><input class='checkFills' name="lastName" placeholder="Обязательно" type="text" value={{pass}}></div>
        </li>
        <div><label>Имя пользователя:</label></div>
        <div><input class='checkFills' name="username" placeholder="Обязательно" type="text" value={{pass}}></div>
        </li>
        <li class='list'>
          <div><label>Адрес электронной почты:</label></div>
          <div> <input class='checkFills' name="email" placeholder="Обязательно" type="text" value={{pass}}></div>
        </li>
        <li class='list'>
          <div> <label>Должность:</label></div>
          <div><input class='checkFills' name="position" placeholder="Обязательно" type="text" value={{pass}}></div>
        </li>
        <li class='list'>
          <div><label>Пароль:</label></div>
          <div><input class='passCheck' id='password' name="password" placeholder="Обязательно" type="password"
              value={{pass}}></div>
        </li>
        <li class='list'>
          <div><label>Подтверждение пароля:</label></div>
          <div><input class='passCheck' id='confirm' placeholder="Обязательно" type="password" value={{pass}}>
          </div>
        </li>
      </div>
  </ul>
  <ul>
    <div><input id='submit-button' class="button" type="submit" value="Отправить форму"></div>
  </ul>
</form>
<script src="/js/confirmPass.js"> </script>