<h1>{{project.projectName}}</h1>
<p><a href='/'>Назад</a></p>
<ul>
  <li>Наименование компании: {{project.companyName}}</li>
  <li>Название проекта: {{project.projectName}}</li>
  <li>Индустрия: {{project.industry}}</li>
  <li>Срок проекта: {{project.projectDuration}}</li>
  <li>Год основания компании: {{project.yearOfFoundation}}</li>
  <li>Размер инвестиций: {{project.investments}}</li>
  <li>Чистый долг: {{project.netDebt}}</li>
  <li>IRR (без TV), %: {{project.description}}</li>
  <li>NPV (без TV): {{project.IRR}}</li>
  <li>IRR (с TV): {{project.NPV}}</li>
  <li>NPN (с TV): {{project.IRRTV}}</li>
  <li>DPBP, лет: {{project.NPVTV}}</li>
  <li>TV: {{project.DPBP}}</li>
  <li>Краткое описание проекта: {{project.TV}}</li>
  <li>Рынок: {{project.market}}</li>
  <li>Сектор рынка 1: {{project.sector1}}</li>
  <li>Сектор рынка 2: {{project.sector2}}</li>
  <li>Сектор рынка 3: {{project.sector3}}</li>
  <li>Сектор рынка 4: {{project.sector4}}</li>
  <li>Конкурент 1: {{project.competitor1}}</li>
  <li>Конкурент 2: {{project.competitor2}}</li>
  <li>Конкурент 3: {{project.competitor3}}</li>
  <li>Конкурент 4: {{project.competitor4}}</li>
  <li>Конкурент 5: {{project.competitor5}}</li>
  <li>Тренд 1: {{project.trend1}}</li>
  <li>Тренд 2: {{project.trend2}}</li>
  <li>Тренд 3: {{project.trend3}}</li>
  <li>Тренд 4: {{project.trend4}}</li>
  <li>Тренд 5: {{project.trend5}}</li>
  <li>Выручка: {{project.revenue}}</li>
  <li>Выручка 1: {{project.revenue1}}</li>
  <li>Выручка 2: {{project.revenue2}}</li>
  <li>Выручка 3: {{project.revenue3}}</li>
  <li>Выручка 4: {{project.revenue4}}</li>
  <li>Выручка 5: {{project.revenue5}}</li>
  <li>Себестоимость: {{project.costPrice}}</li>
  <li>Расход 1: {{project.cost1}}</li>
  <li>Расход 2: {{project.cost2}}</li>
  <li>Расход 3: {{project.cost3}}</li>
  <li>Расход 4: {{project.cost4}}</li>
  <li>КиАУР: {{project.KiAUR}}</li>
  <li>EBITDA: {{project.EBITDA}}</li>
  <li>Рентабельность по EBITDA: {{project.profitabilityEBITDA}}</li>
  <li>Амортизация: {{project.depreciation}}</li>
  <li>EBIT: {{project.EBIT}}</li>
  <li>Проценты: {{project.interest}}</li>
  <li>Налог на прибыль: {{project.incomeTax}}</li>
  <li>Чистая прибыль: {{project.netProfit}}</li>
  <li>Капитальные затраты: {{project.capitalExpenditures}}</li>
  <li>Инвестиции в рабочий капитал: {{project.projectInvestments}}</li>
  <li>Чистый долг: {{project.projectNetDebt}}</li>
  <li>Операционный денежный поток: {{project.cashFlow}}</li>
  <li>FCFF: {{project.FCFF}}</li>
  <li>Показатель 1: {{project.index1}}</li>
  <li>Показатель 2: {{project.index2}}</li>
  <li>Показатель 3: {{project.index3}}</li>
  <li>Показатель 4: {{project.index4}}</li>
  <li>Статус: {{project.status}}</li>
</ul>